.navbar {
    width: 100vw;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .brand {
        display: flex;
        align-items: center;
        gap: 1rem;
        p,h3 {
            cursor: pointer;
        }
        h3 {
            @include hoverEffet;
        }
    }
    .links {
        display: flex;
        align-items: center;
        li {
            margin-inline: .5rem;
            cursor: pointer;
            @include hoverEffet;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            img {
                border-radius: 100%;
            }
        }
    }
}